.table-custom {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
  }
  
  .table-custom th,
  .table-custom td {
    padding: 8px;
    border: 1px solid #dee2e6;
  }
  
  .table-custom th {
    /* background-color: #343a40; */
    background-color: #0c562d;
    color: white;
    font-weight: bold;
  }
  
  .table-custom tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .table-custom tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table-custom tbody td {
    cursor: pointer;
  }
  .address-column {
    background-color: #d8a8a8; /* Change the color to your desired background */
  }
  