body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .app {
    padding: 20px;
  }
  
  .title {
    text-align: center;
  }
  
  .form {
    max-width: 400px;
    margin: 0 auto;
  }
  